<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE something>
<something status="WARN" monitorInterval="30">
    <Properties>
        <Property name="log.name">frps-user-auth</Property>
    </Properties>
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%highlight{[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%file:%line] - %m%n}"/>
        </console>
        <RollingFile name="RollingFile" fileName="logs/${log.name}.log"
                     filePattern="logs/${log.name}-%d{yyyy-MM-dd}.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout charset="UTF-8"
                           pattern="%highlight{[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%file:%line] - %m%n}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="${log.name}-*.log"/>
                    <IfLastModified age="31d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </appenders>
    <loggers>
        <!--过滤掉spring和mybatis的一些无用的DEBUG信息 -->
        <Logger name="org.springframework" level="INFO" additivity="false"/>
        <Logger name="com.alibaba.nacos" level="INFO"/>
        <logger name="org.mybatis" level="INFO"/>
        <logger name="org.hibernate.validator" level="WARN"/>
        <logger name="org.springframework.core" level="INFO"/>
        <logger name="org.springframework.beans" level="INFO"/>
        <logger name="org.springframework.context" level="INFO"/>
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="io.undertow" level="INFO"/>
        <logger name="org.xnio.nio" level="INFO"/>
        <logger name="com.zaxxer.hikari.pool" level="INFO"/>
        <logger name="com.alibaba.nacos.client.naming" level="INFO"/>
        <logger name="com.zaxxer.hikari.HikariConfig" level="INFO"/>
        <logger name="org.apache.hc.client5.http.impl.async" level="INFO"/>
        <logger name="springfox.documentation" level="WARN"/>
        <logger name="org.mybatis.spring.SqlSessionUtils" level="INFO"/>
        <logger name="org.apache.ibatis.logging.LogFactory" level="INFO"/>
        <logger name="org.mybatis.spring.transaction.SpringManagedTransaction" level="INFO"/>
        <logger name="io.undertow.security.impl.SecurityContextImpl" level="INFO"/>
        <logger name="com.alibaba.nacos.client.config.impl.ClientWorker" level="WARN"/>
        <logger name="com.aliyun" level="WARN"/>
        <AsyncRoot level="trace" includeLocation="true">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </AsyncRoot>
    </loggers>
</something>
